<!DOCTYPE html>
<html>
<head>
  <title>Twitter-fake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <div class="col-md-12">
      <ul>    
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "通知" %></li>
        <li><%= link_to "メッセージ" %></li>
        <li><%= link_to "ツイート一覧", welcomes_path %></li>
        <li class="icon"><i class ="fa fa-twitter fa-2x"></i></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "プロフィールを表示" %></li>
            <li><%= link_to "リスト" %></li>
            <li><%= link_to "モーメント" %></li>
            <li><%= link_to "ツイート一覧", welcomes_path %></li>
      　　　</ul>
      　</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
  </header>

<%= yield %>

</body>
</html>
